<?php

// Follow the manual: https://github.com/asimlqt/php-google-oauth7

// Copy your client id and secret from Google developer console
$clientId = '';
$clientSecret = '';
$redirectUrl = 'http://localhost';
